#web_url为网站url
web_url pic.yesky.com

#web_type指网站的类型
#网站类型包括：0：纯文章类；1：图片文章类；2：文章类
web_type 1

article_start <div class="lb_box">
article_end <div class="flym">
article_url_rule .*<dd><a href="(.*)" title='(.*)'>.*</a><span>.*</span></dd>
next_page <div class="flym">
next_page_rule <div class="flym">.*<font><a href="(.*)" target="_self">.*</a></font></div>